.frontpage-layout{
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    .frontpage-header{
        padding: 20px;
        background: var(--header-color);
        color: white !important;
        box-shadow: 0px 0px 20px #3a2f2f;
        display: flex;
        justify-content: space-between;
        .header-settings{
            display:flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    .frontpage-content-wrapper{
        height:100%;
        background:url('../assets/content3.png');
        background-size: cover;
        background-repeat: no-repeat;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .frontpage-content{
            background: rgba(0,0,0,0.5);
            height:100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 1.3em;
            .frontpage-content-item{
                display:flex;
                width:60%;
                i{
                    margin-right: 30px;
                }
            }
            .frontpage-content-item:not(:last-child){
                margin-bottom:40px;
            }
            .frontpage-content-left{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                max-width: 50%;
                margin: auto;
                font-weight: 600;
                background: rgba(255, 255, 255, 0.9);
                border-radius: 25px 25px 25px 25px;
                p{
                    font-size: 1em;
                    color:black !important;
                }
            }
            .v-card{
                grid-column: 2;
                margin-right: 50px;
                padding:20px;
                .authentication-card-footer{
                    display:flex;
                    justify-content: space-evenly;
                    width:100%;
                }
            }
            form{
                padding:20px;
            }
        }
        .frontpage-side{
            background:white;
            display: flex;
            flex-direction: column;
            .frontpage-side-header{
                display: flex;
                justify-content: space-evenly;
                padding: 20px;
                input{
                    padding:10px;
                    border:1px solid lightgray;
                    border-radius:4px 4px 4px 4px;
                    min-width: 241px;
                    max-width: 241px;
                }
            }
            .frontpage-side-content{
                margin: auto;
                display: grid;
                grid-template-rows: 1fr 1fr;
                width:100%;
                button{
                    max-width: 60%;
                    margin: auto;
                    width:60%;
                }
                .frontpage-side-content-intro{
                    margin: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    max-width: 60%;
                    align-items: flex-start;
                }
            }
        }
    }
}